# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Large project datasets and models
data/raw/tmdb/*.csv
data/processed/*.parquet
models/*.pkl
cache/
embeddings/
vector_store/
visualizations/*.png
visualizations/*.jpg
visualizations/*.pdf
